<h1>Play</h1>

<ul>
  <a href="<% if @option1 %><%=@option1 %>/<%else %>play/<% end %>paper">Paper</a>
  <a href="<% if @option1 %><%=@option1 %>/<%else %>play/<% end %>rock">Rock</a>
  <a href="<% if @option1 %><%=@option1 %>/<%else %>play/<% end %>scissors">Scissor</a>
</ul>
